.sidebar_category {
  margin-bottom: 50px;
  .section-title {
    h4 {
      font-size: 18px;
      color: rgb(160, 2, 2);
      text-transform: uppercase;
      &:after {
        position: absolute;
        background: rgb(175, 13, 13);
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 70px;
      }
    }
  }
}

.category_accordian {
  .card {
    border: none;
    border-radius: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2f2 !important;
    margin-bottom: 12px;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none !important;
    }
    .card-heading {
      cursor: pointer;
      a {
        font-size: 14px;
        font-weight: 500;
        color: black;
        display: block;
      }
    }
    .card-body {
      ul > li > a {
        color: rgb(48, 47, 47);
      }
    }
  }
}
